body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}

.product-card {
  max-width: 800px;
  background-color: white;
  margin: auto;
  border-radius: 1em;
  display: flex;
}

.image-container {
  flex-basis: 50%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em 0 0 1em;
}

.content-container {
  flex-basis: 50%;
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container .title {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.content-container h1 {
  font-family: "Fraunces", serif;
  font-size: 3.5em;
  margin: 16px 0;
  color: black;
}

.content-container p {
  font-size: 1.5em;
}

.content-container .price-container {
  display: flex;
  align-items: center;
  gap: 2em;
  margin: 16px 0;
}

.content-container .sale-price {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: 3.5em;
  font-family: "Fraunces", serif;
}

.content-container .price {
  text-decoration: line-through;
  font-size: 1.2em;
}

.content-container button {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(158, 36%, 37%);
  padding: 1em;
  text-align: center;
  border: none;
  border-radius: 1em;
  font-weight: 700;
  color: white;
  font-size: 1.2em;
}

.content-container button:hover {
  background-color: hsl(159, 36%, 25%);
  cursor: pointer;
}

.content-container button img {
  margin-right: 0.5em;
  width: 16px;
}
